.btn-close {
  padding: 0px 5px 2px;
  border: 2px solid beige;
  border-top: 0;
  border-right: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background: beige;
  color: #6082a3;
  border-radius: 0 0 0 5px;
  transition: .2s linear;
}

.btn-close:hover {
  color: #fff;
  background-color: inherit;
}
