@import url(vendor/normalize.css);
@import url(vendor/fonts.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
   min-width: 1000px;
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
   background: #b3c8dc;
   font-family: Comfortaa;
}

.title {
  margin-top: 50px;
  font-size: 50px;
}

.input-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  border: 0;
  cursor: pointer;
  background-color: beige;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}

.input {
  width: 350px;
  height: 25px;
  outline: none;
  border: 1px solid beige;
  background-color: inherit;
  color: #fff;
  padding: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}

.container-note {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  align-items: flex-start;
}

.note-box {
  width: 220px;
  position: relative;
  margin: 0 25px 10px 0;
  border: 1px solid #000;
  border-radius: 5px;
  list-style: none;
}

.note-box:nth-of-type(5n) {
  margin-right: 0;
}

.note {
  padding: 10px;
  text-align: left;

}

.btn-close {
  position: absolute;
  padding: 1px 5px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 4px;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
